.btn-retry {
  border-radius: 0px;
  border: none;
  background: none !important;
  color: inherit !important;
  text-transform: uppercase;
  font-size: 0.9em;
}
.btn-retry:hover {
  border: 1px solid white;
}
