body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vh-full {
  height: 100vh;
}

.login-google {
  background: #ff7272 !important;
  color: #fff !important;
}

.login-facebook {
  background: #1890ff !important;
  color: #fff !important;
}

.btn {
  border-radius: 0;
}

.piece-417db {
  z-index: 100;
}

.ant-alert {
  border-radius: 0;
}
